<div *ngIf="isLogged()">

  <div class="jumbotron jumbotron-fluid">
    <h1 class="lead pl-5 pr-5">Here are all your offers</h1>
  </div>

  <div *ngIf="this.conversationLists">
    <div *ngFor="let offers of splitOffersToThreeInRow()" class="row" style="width: 100%;">
      <div *ngFor="let offer of offers" class="card column">
        <div class="card-body">
          <h5 class="card-title">{{offer.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{offer.location}}</h6>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="badge badge-pill badge-primary">{{offerListMap.get(offer).length}}</span> total message{{offerListMap.get(offer).length != 1 ? 's' : ''}}
            </li>
            <li class="list-group-item">
              <span class="badge badge-pill badge-primary">{{getNewMessageCountForConversationList(offerListMap.get(offer))}}</span> new
            </li>
            <li class="list-group-item">
              <span class="badge badge-pill badge-light">{{offer.visitCount}}</span> visit{{offer.visitCount != 1 ? 's' : ''}}
            </li>
          </ul>
          <div style="float: right">
          <a routerLink="/offer-detail/{{offer.id}}" style="width: 100%"
             class="btn btn-outline-primary">Show offer details
          </a>
          <br/>
          <a routerLink="/offer-messages/{{offer.id}}" style="width: 100%"
             class="btn btn-outline-primary">Show messages
          </a>
          <br/>
          <button (click)="delete(offer.id)" class="btn btn-danger" style="width: 100%">Delete</button>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>

<app-nothing-here *ngIf="isLogged() && !offers"></app-nothing-here>

<app-login *ngIf="!isLogged()"></app-login>
