<div *ngIf="offer">

  <h1>{{offer.title}} <span *ngIf="isNew()" class="badge badge-secondary">New</span></h1>

  <div class="details">
    Location:<br/>
    {{offer.location}}<br/>
    Number of rooms:<br/>
    {{offer.roomCount}}<br/>
    Size:<br/>
    {{offer.size}}<br/>
    <br/>
    <br/>
    Description:<br/>
    {{offer.description}}
  </div>

  <div *ngFor="let photo of offer.photos">
    <img class="my-image" src="data:image/png;base64,{{photo.data}}"/>
  </div>

  TODO: contact form
</div>
