<nav  class="navbar navbar-expand-lg navbar-light bg-light">
<a  class="navbar-brand"  [routerLink]="'/offers'">Flat Renting</a>
<button  class="navbar-toggler"  type="button"  data-toggle="collapse"  data-target="#navbarSupportedContent"  aria-controls="navbarSupportedContent"  aria-expanded="false"  aria-label="Toggle navigation">
  <span  class="navbar-toggler-icon"></span>
</button>
<div  class="collapse navbar-collapse"  id="navbarSupportedContent">
  <ul  class="navbar-nav mr-auto">
    <li  class="nav-item active">
      <a  class="nav-link" [routerLink]="'/offers'">Home <span  class="sr-only">(current)</span></a>
    </li>
    <li  class="nav-item dropdown">
      <a  class="nav-link dropdown-toggle"  href="#"  id="offersDropdown"  role="button"  data-toggle="dropdown"  aria-haspopup="true"  aria-expanded="false">
        Offers
      </a>
      <div  class="dropdown-menu"  aria-labelledby="offersDropdown">
        <a  class="dropdown-item" [routerLink]="'/offers'"> Offer search </a>
        <a *ngIf="isLogged()" class="dropdown-item" [routerLink]="'/create-offer'"> Create Offer </a>
        <a *ngIf="isLogged()" class="dropdown-item" [routerLink]="'/your-offers'"> Your Offers </a>
      </div>
    </li>
    <li *ngIf="!isLogged()" class="nav-item active">
      <div  class="nav-link">Log in to see more!</div>
    </li>
<!--    Maybe implement searchbar-->
<!--    <li>-->
<!--      <form class="form-inline">-->
<!--        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>-->
<!--      </form>-->
<!--    </li>-->
    <li *ngIf="isLogged()" class="nav-item dropdown">
      <a  class="nav-link dropdown-toggle"  href="#"  id="messagesDropdown"  role="button"  data-toggle="dropdown"  aria-haspopup="true"  aria-expanded="false">
        Messages
      </a>
      <div  class="dropdown-menu"  aria-labelledby="messagesDropdown">
        <a  class="dropdown-item" [routerLink]="'/messages'"> About other offers </a>
        <a  class="dropdown-item" [routerLink]="'/your-offers'"> About your offers </a>
      </div>
    </li>
    <li *ngIf="isLogged()" class="nav-item dropdown">
      <a  class="nav-link dropdown-toggle"  href="#"  id="profileDropdown"  role="button"  data-toggle="dropdown"  aria-haspopup="true"  aria-expanded="false">
        Profile
      </a>
      <div  class="dropdown-menu"  aria-labelledby="profileDropdown">
        <a  class="dropdown-item" [routerLink]="'/profile'">Your profile</a>
        <a  class="dropdown-item" [routerLink]="'/preferences'">Your preferences</a>
      </div>
    </li>
  </ul>

  <div *ngIf="isLogged()">
    <strong class="pr-3">Welcome {{getCurrentNick()}}! </strong>
    <button type="button" class="btn btn-primary" (click)="logout()">Logout</button>
  </div>

  <div *ngIf="!isLogged()" class="btn-group float-right" role="group" aria-label="Basic example">
    <a [routerLink]="'/register'" >
      <button type="button" class="btn btn-outline-primary">Register</button>
    </a>
    <a [routerLink]="'/login'">
      <button type="button" class="btn btn-primary" >Login</button>
    </a>
  </div>
</div>
</nav>

<div class="container-fluid" style="min-height: 80%">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>
